.card
  .row
    .col.s1
      = gravatar_for message.user
    .col.s11
      %p.no-margin
        %span.text-muted= "#{message.user.name} at #{message.timestamp} says"
        %br
        = message.body