.row
  .col.s12
    %p.bold.big.no-margin= @chat_room.title
    = link_to chat_room_members_path(@chat_room), remote: true do
      %i.material-icons people_outline
    .top-space#messages{"data-chat-room-id": @chat_room.id}
      = render @chat_room.messages
      
= form_for @message, url: '#' do |f|
  .row
    .input-field.col.s12
      = f.label :body
      = f.text_area :body, class: 'materialize-textarea'
      %small.text-muted From 2 to 1000 characteres
  .row
    .col.s12
      = f.submit 'Post', class: 'btn btn-lg pink'

.modal#modalMembers