!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatDemo
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.blue
      .navbar-wrapper
        %a{href: "#", class: 'brand-logo'} Demo
        %ul.right.hide-on-med-and-down#nav-mobile
          %li= link_to 'Chats', chat_rooms_path
    
    .card.no-margin
      -if user_signed_in?
        .row
          .col.s4.m2.deep-purple.accent-4{style: "height: 100vh;"}
            %p.bold.white-text
              Channels
              = link_to new_chat_room_path, class: 'right white-text' do
                %i.material-icons add
            %ul.list-group
              = render @chat_rooms
          .col.s8.m10
            = yield
      - else
        = yield