.modal-content
  .row
    .col.s12
      %p.bold#count_members= "#{@chat_room.members.count} members"
      - @members.each do |member|
        .chip{id: "#{dom_id member}"}
          = member.user.email
          = link_to member_path(member), method: :delete, remote: true, class: 'red-text' do
            %i.material-icons.close close

  = form_for [@chat_room,@member], remote: true do |f|
    .row
      .input-field.col.s12      
        = f.text_field :user_id, class: 'autocomplete'
        = f.label :user_id, 'Enter user id'

    .row
      .col.s12
        = button_tag :submit, class: 'btn btn blue' do
          Invite
